<div class="site-backdrop" aria-hidden="true">
  <div class="site-backdrop__glow site-backdrop__glow--one"></div>
  <div class="site-backdrop__glow site-backdrop__glow--two"></div>
  <div class="site-backdrop__grid"></div>
</div>
